body {
	margin:0px;
	padding: 0px;
  font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#titulo1 {
    width: 960px;
    margin:auto;
    background-color: white;
    height : 200px;

}
#titulo {
    width: 960px;
    margin:auto;
    background-color: white;
    height : 070px;
  }
#image {
    width: 960px;
    margin:auto;
    background-color: white;
    height : 350px;

}

#general {
    width: 960px;
    margin:auto;
    background-color: white;
    height : 500px;

}
#presentacion {
    width: 550px;
    float: left;
    background-color: white;
    height : 500px;
    margin :auto;
  }

#header {
 margin: auto;
  width: 1000px;
  padding: 8px;
}

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;

    top: 0;
    left: 0;

    background-color: #FEFFB8;


    padding-top: 450px;
    padding-left: 15px;
    overflow-y: auto;
    font-weight: bold;
}



#title1 {

  text-align: left;
	padding-top: 30px;
	font-size: 40px;
	font-weight: bold;
  color:#00000;

}

#title {

  text-align: center;
	padding-top: 30px;
	font-size: 40px;
	font-weight: bold;
  color:#00000;

}

#loogo {
  object-fit: contain;


}


#container {
  margin: auto;
  width: 800px;
  padding: 10px;


}

.thumb_wrap {
	font-size: 20px;
	padding-bottom: 100px;
  text-align: right;
	float:left;
}

.thumb_img {

}
.thumb {
	cursor: pointer;
	width:800px;
	height:281px;
	float:left;
	background-color: yellow;
}

/* Internal Menu */

#menu {
	width:320px;
	padding-top: 20px;
	position: fixed;
	background-color: grey;
	height:100%;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu_list {
	padding-top: 50px;
}
#nav {
	padding-bottom: 20px;
}

.thumb_internal img{
	width:300px;
}

/* Internal Body */

#content {
	width:1000px;
	margin:0 auto;
	padding-top:20px;
}

#content .image {
  margin-left: auto;
  margin-right: auto;
  display: block;
	padding-top: 20px;
	padding-bottom: 20px;

	max-width: 1000px;
}

.video {
	padding-bottom: 20px;
}
